{% extends "base.html" %}

{% block title %}Play with Buddy - Find buddy{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Search for buddies!</h1>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 col-sm-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-sm-12">
                        <h3>Pelivalinta:</h3>
                        <ul>
                        <li>Pitkä</li>
                        <li>Lista</li>
                        <li>Kaiken</li>
                        <li>Näköisiä</li>
                        <li>Pelejä</li>
                        <li>Muilta</li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-12"><h3>Kaupnki</h3></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><span>Matti Mallikas</span><span> </span><span>CodMW - Xbox</span></h3>
                </div>
                <div class="panel-body">
                  Masa tarjoo kovaa peliä. Seksikästä sähinää.
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><span>Jontti Janatuinen</span><span> </span><span>Tennis - Ulkokenttä</span></h3>
                </div>
                <div class="panel-body">
                  Täällä kovaa peliä tenniksessä. Ei heikkohermoisille!
                </div>
              </div>
        </div>

    </div>
</div>
{% endblock %}
