{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% macro pagination_widget(pagination, endpoint) %}
<ul class="pagination">
  <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
    <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page = pagination.page - 1, game=request.args.get('game'), country=request.args.get('country'), city=request.args.get('city')) }}{% else %}#{% endif %}">&laquo;</a>
  </li>
  {% for p in pagination.iter_pages(left_edge=1, left_current=2, right_current=2, right_edge=1) %}
    {% if p %}
      {% if p == pagination.page %}
        <li class="active">
          <a href="{{ url_for(endpoint, page = p, game=request.args.get('game'), country=request.args.get('country'), city=request.args.get('city')) }}">{{ p }}</a>
        </li>
      {% else %}
        <li>
          <a href="{{ url_for(endpoint, page = p, game=request.args.get('game'), country=request.args.get('country'), city=request.args.get('city')) }}">{{ p }}</a>
        </li>
      {% endif %}
    {% else %}
      <li class="disabled"><a href="#">&hellip;</a></li>
    {% endif %}
  {% endfor %}
  <li{% if not pagination.has_next %} class="disabled"{% endif %}>
    <a href="{% if pagination.has_next %}{{ url_for(endpoint, page = pagination.page + 1, game=request.args.get('game'), country=request.args.get('country'), city=request.args.get('city')) }}{% else %}#{% endif %}"> &raquo; </a>
  </li>
</ul>
{% endmacro %}


{% block title %}Play with Buddy - Find buddy{% endblock %}

{% block page_content %}
<div class="page-header  text-center">
    <h1>Search for buddies!</h1>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 col-sm-4">
            <div class="container-fluid">
              <form method='get'>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 text-center">
                      <div class="form-group">
                        {{ findform.game.label }}
                        {{ findform.game(class_='field form-control game-list') }}
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-12 text-center">
                      <div class="form-group">
                      <p>{{ findform.country.label }}</p>
                      <p>{{ findform.country(class_='field form-control') }}</p>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-12 text-center">
                      <div class="form-group">
                      <p>{{ findform.city.label }}</p>
                      <p>{{ findform.city(class_='field form-control') }}</p>
                      </div>
                    </div>
              </form>
                    <div class="col-xs-12 col-sm-12 text-center">
                      <div class="form-group">
                      <p>{{ findform.submit(class_='field form-control') }}</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8">
          <div class="text-center">
            {{ pagination_widget(pagination, '.find') }}
          </div>
          {% for listing in listings %}
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <h3 class="panel-title">{{listing.Listing.header}}</h3>
                </div>
                <div class="panel-body">
                  <p>{{listing.Listing.info}}</p>
                  <table class="table">
                    <tr>
                      <th>Platform</th>
                      <th>Game</th>
                      <th>Country</th>
                    </tr>
                    <tr>
                      <td>{{listing.Listing.platform}}</td>
                      <td>{{listing.Listing.game}}</td>
                      <td>{{listing.User.country}}</td>
                    </tr>
                  </table>
                  <h4>User {{listing.User.username}} bio</h4>
                  <p>{{listing.User.bio}}</p>
                </div>
              </div>
          {% endfor %}
          <div class="text-center">
            {{ pagination_widget(pagination, '.find') }}
          </div>
        </div>
        
    </div>
</div>
{% endblock %}