{% extends "base.html" %}

{% block title %}Play with Buddy{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to Play with Buddy service!</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <p>Here you can browse for likeminded friends to play your favourite games with. Get started by going on find buddy page and choose game</p>
            <p>If you would like to participate in offering your friendship, please make an account and file an listing for your favourite game. Be the badass you wanna be.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6"><a href="find" class="btn btn-default btn-lg">Find Buddy</a></div>
        <div class="col-xs-12 col-sm-6"><a href="user" class="btn btn-default btn-lg">Become a Buddy</a></div>
    </div>
</div>

{% endblock %}
