{% extends "base.html" %}

{% block title %}Play with Buddy{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to Play with Buddy service!</h1>
</div>
<div class="page-content">
    <p>Here you can browse for likeminded friends to play your favourite games with. Get started by going on find buddy page and choose game</p>
    <p>If you would like to participate in offering your friendship, please make an account and file an listing for your favourite game. Be the badass you wanna be.</p>
</div>
{% endblock %}
